PORT=3000
LOCAL_MACHINE_ID=machine-a
CHECKPOINT_DIR=./checkpoints
CRIU_BIN=/usr/sbin/criu
XPRA_BIN=/usr/bin/xpra
LXC_BIN=/usr/bin/lxc-create
DEFAULT_REMOTE=machine-b
POLL_INTERVAL_MS=2000
HANG_THRESHOLD_SECONDS=30
AUTO_MIGRATE=false
